body{
	font-size: 72px; 
	background:#fff !important;
} 
.container{width:1170px;margin:auto;text-align:center;margin-top: 50px;}
.btn{border-radius:5px;background:#00FE36;transform:rotate(20deg);width:100px;padding:7px 0;}